
*.xcplayground

001.1 Iterations - BinaryGap.playground/playground.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

001.1 Iterations - BinaryGap.playground/playground.xcworkspace/xcuserdata/mat.xcuserdatad/UserInterfaceState.xcuserstate

001.1 Iterations - BinaryGap.playground/playground.xcworkspace/contents.xcworkspacedata
